*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #1a5185;
    padding-left: 50px;
    padding-right: 50px;
}

.logo img {
    height: 80px;
}

.Menu-Horizontal {
    display: flex;
    list-style: none;
    margin-top: 30px;
}

.Menu-Horizontal>li>a {
    list-style: none;
    text-decoration: none;
    margin-right: 20px;
    color: white;
    padding: 8px 10px;
    transition: all 300ms ease;
    border-radius: 15px;
}

.Menu-Horizontal>li>a:hover {
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.3);
}

.titulo {
    text-align: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/PaginaWebValleGrande/media/foto-ValleGrande.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-position: center center;
}

.titulo h1 {
    font-size: 70px;
    font-weight: 400;
}

.Nosotros {
    background-position: center center;
    padding-left: 50px;
    padding-right: 50px;
    cursor: default;
}

.Nosotros h2 {
    color: red;
    padding: 20px 0px;
    font-weight: 500;
    font-size: 45px;
    text-align: center;
}

.Nosotros p{
    font-size: 20px;
}

.historia {
    background-position: center center;
    cursor: default;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 10px;
    display: flex;
}

.historia h2 {
    text-align: center;
    font-weight: 500;
    font-size: 45px;
    padding: 20px 0px 8px 0px;
    color: blue;
}

.historia p{
    font-size: 20px;
}

.historia a {
    text-decoration: none;
    background-color: #1a5185;
    color: white;
    padding: 8px;
    border-radius: 14px;
    
}

.historia a:hover{
    font-weight: 500;
    background-color: rgb(9, 49, 105);;
}

.imagen{
    margin-top: 40px;
}
.imagen img {
    width: 190px;
}

.MisionVision{ 
    padding-right: 50px;
    padding-left: 50px;
}
.MisionVision h2{
    text-align: center;
    font-size: 45px;
}

.MisionVision h3{
    color: orange;
    font-size: 30px;
}

.MisionVision p{
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 20px;
}

.MisionVision a{
    margin-top: 20px;
    text-decoration: none;
    background-color: #1a5185;
    color: white;
    padding: 8px;
    border-radius: 14px;
}

.MisionVision a:hover{
    font-weight: 500;
    background-color: rgb(9, 49, 105);
}

.canalYoutube{
    text-align: center;
    margin-top: 30px;
    padding-left: 50px;
    padding-right: 50px;

}

.canalYoutube h2{
    font-size: 45px;
    margin-bottom: 30px;
}

footer {
    background-color: #1a5185;
    padding: 50px 50px;
}

.footer-row{
    display: flex;
    justify-content: space-between;
}

.footer-links{
    width: 30%;
    padding: 0px 30px;
}

.footer-links h4{
    color: white;
    font-weight: 500;
    margin-bottom: 20px;
}

.footer-links ul li {
    list-style: none;
    color: grey;
}

.footer-links ul li a{
    text-decoration: none;
    list-style: none;
    color: grey;
    display: block;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

.footer-links ul li a:hover{
    margin-left: 6px;
    color: white;
}


.social-links a{
    display: inline-block;
   min-height: 60px;
   line-height: 60px;
   width: 60px;
   background-color: rgba(0, 0, 0, 0.4);
   margin: 0px 10px 10px 0;
   text-align: center;
   border-radius: 50%;
   transition: all 300ms ease;
}

.social-links a:hover{
    background-color: rgb(84, 173, 225);
}

.social-links i{
    font-size: 20px;
    color: white;
}
